<a href="https://colab.research.google.com/github/attykus/Heart-disease-predictive-model/blob/main/Heart_disease_predictive_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [23]:
from google.colab import files
uploaded = files.upload()

Saving heart.csv to heart.csv

In [24]:
import io

In [25]:
df=pd.read_csv(io.BytesIO(uploaded['heart.csv']))

In [26]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [27]:
df=df.drop("slope",axis="columns")

In [28]:
df=df.drop("ca",axis="columns")

In [29]:
df=df.drop("thal",axis="columns")

In [30]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,target
0,63,1,3,145,233,1,0,150,0,2.3,1
1,37,1,2,130,250,0,1,187,0,3.5,1
2,41,0,1,130,204,0,0,172,0,1.4,1
3,56,1,1,120,236,0,1,178,0,0.8,1
4,57,0,0,120,354,0,1,163,1,0.6,1
...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,0
299,45,1,3,110,264,0,1,132,0,1.2,0
300,68,1,0,144,193,1,1,141,0,3.4,0
301,57,1,0,130,131,0,1,115,1,1.2,0
302,57,0,1,130,236,0,0,174,0,0.0,0

In [31]:
y=df["target"]

In [32]:
x=df.drop("target",axis="columns")

In [33]:
x

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

[303 rows x 10 columns]

In [34]:
import os
import tensorflow as tf
from tensorflow.keras import Sequential
import keras.utils
from keras.utils.np_utils import to_categorical


import keras
from keras.models import Sequential
from keras.layers import Dense, Activation

In [35]:
y=to_categorical(y)

In [36]:
y.shape

(303, 2)

In [37]:
model = Sequential([
    Dense(32, input_dim=10),
    Activation('relu'),
    Dense(2),
    Activation('softmax'),
])

In [38]:
model.compile(optimizer="adam",loss="categorical_crossentropy",metrics=["accuracy"])

In [39]:
model.fit(x,y,epochs=10)

Epoch 1/10
10/10 [==============================] - 1s 1ms/step - loss: 14.7713 - accuracy: 0.5446
Epoch 2/10
10/10 [==============================] - 0s 1ms/step - loss: 3.9117 - accuracy: 0.6238
Epoch 3/10
10/10 [==============================] - 0s 1ms/step - loss: 3.7160 - accuracy: 0.5875
Epoch 4/10
10/10 [==============================] - 0s 2ms/step - loss: 2.3452 - accuracy: 0.6304
Epoch 5/10
10/10 [==============================] - 0s 2ms/step - loss: 1.7762 - accuracy: 0.6370
Epoch 6/10
10/10 [==============================] - 0s 1ms/step - loss: 1.2149 - accuracy: 0.6733
Epoch 7/10
10/10 [==============================] - 0s 1ms/step - loss: 0.9360 - accuracy: 0.6997
Epoch 8/10
10/10 [==============================] - 0s 1ms/step - loss: 0.7844 - accuracy: 0.6964
Epoch 9/10
10/10 [==============================] - 0s 2ms/step - loss: 0.7347 - accuracy: 0.6964
Epoch 10/10
10/10 [==============================] - 0s 1ms/step - loss: 0.6895 - accuracy: 0.7063

In [40]:
x

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

[303 rows x 10 columns]

In [41]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,target
0,63,1,3,145,233,1,0,150,0,2.3,1
1,37,1,2,130,250,0,1,187,0,3.5,1
2,41,0,1,130,204,0,0,172,0,1.4,1
3,56,1,1,120,236,0,1,178,0,0.8,1
4,57,0,0,120,354,0,1,163,1,0.6,1
...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,0
299,45,1,3,110,264,0,1,132,0,1.2,0
300,68,1,0,144,193,1,1,141,0,3.4,0
301,57,1,0,130,131,0,1,115,1,1.2,0
302,57,0,1,130,236,0,0,174,0,0.0,0

In [42]:
data=pd.DataFrame({"age":[64],"sex":[1],"cp":[3],"trestbps":[150],"chol":300,"fbs":[1],"restecg":[0],"thalach":[200],"exang":[0],"oldpeak":[2.5]})

In [43]:
model.predict(data)

array([[0.10341568, 0.89658433]], dtype=float32)